@font-face {
  font-family: "iconfont"; /* Project id 3273297 */
  src: url('iconfont.woff2?t=1657610191249') format('woff2'),
       url('iconfont.woff?t=1657610191249') format('woff'),
       url('iconfont.ttf?t=1657610191249') format('truetype'),
       url('iconfont.svg?t=1657610191249#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu:before {
  content: "\e62b";
}

.icon-liuchengguanli1:before {
  content: "\e62d";
}

.icon-fujian:before {
  content: "\e62c";
}

.icon-clock:before {
  content: "\e61a";
}

.icon-active:before {
  content: "\e61b";
}

.icon-general:before {
  content: "\e61c";
}

.icon-danger:before {
  content: "\e61d";
}

.icon-off-line:before {
  content: "\e61e";
}

.icon-warning:before {
  content: "\e61f";
}

.icon-on-line:before {
  content: "\e620";
}

.icon-clock1:before {
  content: "\e621";
}

.icon-off-line1:before {
  content: "\e622";
}

.icon-danger1:before {
  content: "\e623";
}

.icon-general1:before {
  content: "\e624";
}

.icon-active1:before {
  content: "\e625";
}

.icon-warning1:before {
  content: "\e626";
}

.icon-question:before {
  content: "\e627";
}

.icon-stop:before {
  content: "\e628";
}

.icon-on-line1:before {
  content: "\e629";
}

.icon-yonghu1:before {
  content: "\e62a";
}

.icon-cangkuguanli:before {
  content: "\e612";
}

.icon-caigouguanli:before {
  content: "\e613";
}

.icon-tongzhigonggao:before {
  content: "\e614";
}

.icon-jichushuju:before {
  content: "\e615";
}

.icon-xitonggongju:before {
  content: "\e616";
}

.icon-xitongjiankong:before {
  content: "\e617";
}

.icon-riqi:before {
  content: "\e618";
}

.icon-shijian:before {
  content: "\e619";
}

.icon-dayin:before {
  content: "\e602";
}

.icon-gengduo:before {
  content: "\e603";
}

.icon-fangda:before {
  content: "\e604";
}

.icon-danchu1:before {
  content: "\e605";
}

.icon-guanbi2:before {
  content: "\e606";
}

.icon-hengxiangzhidi:before {
  content: "\e607";
}

.icon-hengxiangzhiding:before {
  content: "\e608";
}

.icon-qingkong:before {
  content: "\e609";
}

.icon-shuzijian:before {
  content: "\e60a";
}

.icon-shuzijia:before {
  content: "\e60b";
}

.icon-tuichuquanping:before {
  content: "\e60c";
}

.icon-quanping:before {
  content: "\e60d";
}

.icon-suoxiao:before {
  content: "\e60e";
}

.icon-shousuo:before {
  content: "\e60f";
}

.icon-zhidi:before {
  content: "\e610";
}

.icon-zhiding:before {
  content: "\e611";
}

.icon-xianshi:before {
  content: "\e736";
}

.icon-yincang:before {
  content: "\e737";
}

.icon-jinggao:before {
  content: "\e735";
}

.icon-guanbi:before {
  content: "\e734";
}

.icon-danchu:before {
  content: "\e733";
}

.icon-xiangqingxinxi:before {
  content: "\e732";
}

.icon-jiaoseshezhi:before {
  content: "\e731";
}

.icon-zuzhijiegou:before {
  content: "\e72e";
}

.icon-caidanguanli:before {
  content: "\e72f";
}

.icon-jiaoseguanli:before {
  content: "\e730";
}

.icon-zhiwei:before {
  content: "\e72a";
}

.icon-bumen:before {
  content: "\e72b";
}

.icon-yonghu:before {
  content: "\e72c";
}

.icon-danwei:before {
  content: "\e72d";
}

.icon-zengjia:before {
  content: "\e728";
}

.icon-jianshao:before {
  content: "\e729";
}

.icon-renyuanxuanze:before {
  content: "\e720";
}

.icon-bianji:before {
  content: "\e721";
}

.icon-shanchu:before {
  content: "\e722";
}

.icon-shuaxin:before {
  content: "\e723";
}

.icon-bumenxuanze:before {
  content: "\e724";
}

.icon-sousuo:before {
  content: "\e725";
}

.icon-yulan:before {
  content: "\e726";
}

.icon-shaixuan:before {
  content: "\e727";
}

.icon-daoru:before {
  content: "\e71e";
}

.icon-daochu:before {
  content: "\e71f";
}

.icon-xinxi:before {
  content: "\e719";
}

.icon-tuichu:before {
  content: "\e71a";
}

.icon-yuyan:before {
  content: "\e71b";
}

.icon-xitongshezhi:before {
  content: "\e71c";
}

.icon-zhuye:before {
  content: "\e71d";
}

.icon-up2:before {
  content: "\e715";
}

.icon-left2:before {
  content: "\e716";
}

.icon-right2:before {
  content: "\e717";
}

.icon-down2:before {
  content: "\e718";
}

.icon-down1:before {
  content: "\e711";
}

.icon-right1:before {
  content: "\e712";
}

.icon-left1:before {
  content: "\e713";
}

.icon-up1:before {
  content: "\e714";
}

.icon-left:before {
  content: "\e70d";
}

.icon-down:before {
  content: "\e70e";
}

.icon-right:before {
  content: "\e70f";
}

.icon-up:before {
  content: "\e710";
}

