 /**
 * 通用css样式布局处理
 */

 /** 基础通用 **/
 .pt5 {
 	padding-top: 5px;
 }

 .pr5 {
 	padding-right: 5px;
 }

 .pb5 {
 	padding-bottom: 5px;
 }

 .mt5 {
 	margin-top: 5px;
 }

 .mr5 {
 	margin-right: 5px;
 }

 .mb5 {
 	margin-bottom: 5px;
 }

 .mb8 {
 	margin-bottom: 8px;
 }

 .ml5 {
 	margin-left: 5px;
 }

 .mt10 {
 	margin-top: 10px;
 }

 .mr10 {
 	margin-right: 10px;
 }

 .mb10 {
 	margin-bottom: 10px;
 }

 .ml10 {
 	margin-left: 10px;
 }

 .mt20 {
 	margin-top: 20px;
 }

 .mr20 {
 	margin-right: 20px;
 }

 .mb20 {
 	margin-bottom: 20px;
 }

 .ml20 {
 	margin-left: 20px;
 }

 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	font-family: inherit;
 	font-weight: 500;
 	line-height: 1.1;
 	color: inherit;
 }

 // .el-dialog:not(.is-fullscreen) {
 // 	margin-top: 6vh !important;
 // }

 .el-dialog__wrapper.scrollbar .el-dialog .el-dialog__body {
 	overflow: auto;
 	overflow-x: hidden;
 	max-height: 70vh;
 	padding: 10px 20px 0;
 }

 .el-table {
 	&::before {
 		display: none;
 	}

 	.el-table__header-wrapper,
 	.el-table__fixed-header-wrapper {
 		th {
 			word-break: break-word;
 			background-color: #f8f8f9;
 			color: #515a6e;
 			height: 40px;
 			font-size: 13px;
 		}
 	}

 	.el-table__body-wrapper::-webkit-scrollbar {
 		width: 6px; // 横向滚动条
 		height: 6px; // 纵向滚动条 必写
 	}

 	.el-table__body-wrapper {
 		.el-button [class*="el-icon-"]+span {
 			margin-left: 1px;
 		}
 	}

 	.el-button+.el-button {
 		margin: 0;
 	}

 	.el-button--text {
 		padding: 0 10px;
 	}
 }

 /** 表单布局 **/
 .form-header {
 	font-size: 15px;
 	color: #6379bb;
 	border-bottom: 1px solid #ddd;
 	margin: 8px 10px 25px 10px;
 	padding-bottom: 5px
 }

 /* tree border */
 .tree-border {
 	margin-top: 5px;
 	// border: 1px solid #e5e6e7;
 	background: #FFFFFF none;
 	border-radius: 4px;
 }

 .el-pagination.is-background .el-pager li {
 	background-color: #fff;
 	color: #000000;
 	border: 1px solid rgba(0, 0, 0, 0.15);
 	font-weight: 500;
 }

 .el-pagination.is-background .el-pager li:not(.disabled).active {
 	background-color: #fff;
 	color: #409eff;
 	font-weight: 500;
 	border: 1px solid #409eff;
 }

 .el-pagination.is-background .btn-prev,
 .el-pagination.is-background .btn-next {
 	background-color: #fff;
 	border: 1px solid rgba(0, 0, 0, 0.15);
 }

 @media (max-width : 768px) {
 	.pagination-container .el-pagination>.el-pagination__jump {
 		display: none !important;
 	}

 	.pagination-container .el-pagination>.el-pagination__sizes {
 		display: none !important;
 	}
 }

 .el-table .fixed-width .el-button--mini {
 	padding-left: 0;
 	padding-right: 0;
 	width: inherit;
 }

 /** 表格更多操作下拉样式 */
 .el-table .el-dropdown-link {
 	cursor: pointer;
 	color: #409EFF;
 	margin-left: 5px;
 }

 .el-table .el-dropdown,
 .el-icon-arrow-down {
 	font-size: 12px;
 }

 .el-tree-node__content>.el-checkbox {
 	margin-right: 8px;
 }

 .list-group-striped>.list-group-item {
 	border-left: 0;
 	border-right: 0;
 	border-radius: 0;
 	padding-left: 0;
 	padding-right: 0;
 }

 .list-group {
 	padding-left: 0px;
 	list-style: none;
 }

 .list-group-item {
 	border-bottom: 1px solid #e7eaec;
 	border-top: 1px solid #e7eaec;
 	margin-bottom: -1px;
 	padding: 11px 0px;
 	font-size: 13px;
 }

 .pull-right {
 	float: right !important;
 }



 .card-box {
 	padding-right: 15px;
 	padding-left: 15px;
 	margin-bottom: 10px;
 }

 /* button color */
 .el-button--cyan.is-active,
 .el-button--cyan:active {
 	background: #20B2AA;
 	border-color: #20B2AA;
 	color: #FFFFFF;
 }

 .el-button--cyan:focus,
 .el-button--cyan:hover {
 	background: #48D1CC;
 	border-color: #48D1CC;
 	color: #FFFFFF;
 }

 .el-button--cyan {
 	background-color: #20B2AA;
 	border-color: #20B2AA;
 	color: #FFFFFF;
 }

 /* text color */
 .text-navy {
 	color: #1ab394;
 }

 .text-primary {
 	color: inherit;
 }

 .text-success {
 	color: #1c84c6;
 }

 .text-info {
 	color: #23c6c8;
 }

 .text-warning {
 	color: #f8ac59;
 }

 .text-danger {
 	color: #ed5565;
 }

 .text-muted {
 	color: #888888;
 }

 /* image */
 .img-circle {
 	border-radius: 50%;
 }

 .img-lg {
 	width: 120px;
 	height: 120px;
 }

 .avatar-upload-preview {
 	position: absolute;
 	top: 50%;
 	transform: translate(50%, -50%);
 	width: 200px;
 	height: 200px;
 	border-radius: 50%;
 	box-shadow: 0 0 4px #ccc;
 	overflow: hidden;
 }

 /* 拖拽列样式 */
 .sortable-ghost {
 	opacity: .8;
 	color: #fff !important;
 	background: #42b983 !important;
 }

 .top-right-btn {
 	position: relative;
 	float: right;
 }

 /* 列表搜索栏 */
 .head-search {
 	padding: 16px 16px 0 16px;
 	border-bottom: 1px solid #EAEDF4;

 	.el-form-item {
 		margin-bottom: 16px !important;
 	}
 }

 .my-content-card {
 	.el-card__body {
 		padding: 0;
 	}
 }

 .jri-search-btn {
 	border-color: #4686EF;
 	color: #4686EF;
 	background: #fff;
 }

 .my-dialog {
 	.el-dialog__body {
 		padding: 0 20px;
 	}
 }



 // .el-card__body{
 //   padding: 16px;
 // }
 //  .el-card__header {
 //  	padding: 14px 15px 7px;
 //  	min-height: 40px;
 //  }

 //  .el-card__body {
 //  	padding: 15px 20px 20px 20px;
 //  }

 // 主要的box
 .main-card {
 	margin: 16px;
 	height: calc(100vh - 158px);
 	box-shadow: none !important;

 	.el-card__body {
 		padding: 16px 16px 0 16px;
 		height: 100%;
 		display: flex;
 		flex-direction: column;
 	}

 	.app-container {
 		display: flex;
 		height: 100%;
 		flex-direction: column;
 	}

 	.el-form {
 		flex-shrink: 0;
 		border-bottom: solid 1px #ddd;
 		margin-bottom: 8px;
 	}

 	.el-form-item {
 		margin-bottom: 16px;
 	}

 	position: relative;
 }

 // 左右平分的main-card
 .main-card-left {
 	margin: 16px;
 	height: calc(100vh - 158px);
 	box-shadow: none !important;

 	.left-tree {
 		height: calc(100% - 68px);
 		overflow: auto;
 	}

 	.el-card__body {
 		height: 100%;
 		padding: 16px 16px 0 16px;

 		&>.el-row {
 			height: 100%;

 			&>.el-col {
 				height: 100%;
 			}
 		}
 	}

 	.el-form-item {
 		margin-bottom: 16px;
 	}

 	// .el-row-box {
 	// 	height: 100%;
 	// 	.el-col {
 	// 		height: 100%;
 	// 	}
 	// }

 }

 // 底部选中项的样式
 .common-pagination {
 	display: flex;
 	flex-shrink: 0;
 	justify-content: right;
 	align-items: center;
 	border-top: 1px solid #eaedf4;
 	height: 64px;
 	line-height: 64px;

 	.chooseCount {
 		color: #7d8592;
 	}

 	.pagination-container {
 		height: 32px;
 		padding: 0;
 		margin: 0;
 	}

 	.el-pagination {
 		padding: 0;
 	}
 }

 // 右侧表格
 .right-card {
 	height: 100%;
 	display: flex;
 	flex-direction: column;

 	.el-form {
 		flex-shrink: 0;
 		border-bottom: solid 1px #ddd;
 	}

 	.change-type {
 		margin-top: 8px;
 	}

 	.el-table {
 		margin-top: 8px;
 	}
 }

 .task-card {
 	height: calc(100vh - 158px);

 	.app-container {
 		display: flex;
 		height: 100%;
 		flex-direction: column;

 		&>.el-row {
 			height: 100%;

 			&>.el-col {
 				height: 100%;
 				display: flex;
 				flex-direction: column;
 			}
 		}

 		.right-col {
 			height: 100%;
 			display: flex;
 			flex-direction: column;
 		}
 	}

 	.el-card__body {
 		height: 100%;
 		padding: 16px 16px 0 16px;

 		&>.el-row {
 			height: 100%;

 			&>.el-col {
 				height: 100%;
 			}
 		}
 	}
 }

 .produce-collapse {
 	.el-form-item {
 		margin-bottom: 0;
 	}

 	.el-form-item__error {
 		top: auto;
 		bottom: 0;
 	}

 	.el-input.is-disabled .el-input__inner {
 		color: #000000;
 	}

 	.el-date-editor.el-range-editor.is-disabled .el-range-input {
 		color: #000000;
 	}

 	.el-date-editor.el-range-editor.is-disabled .el-range-separator {
 		color: #000000;
 	}

 	.el-collapse-item .content-title {
 		font-size: 16px;
 		font-family: SourceHanSansCN-Medium, SourceHanSansCN;
 		font-weight: 500;
 		color: #6a7697;
 	}
 }
 .text-three-lines{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical
 }