/* 自定义样式 */
/* element collapse */
.produce-collapse {
    .el-collapse {
        margin-top: 10px;
    }

    .el-collapse-item__header {
        color: rgba(106, 118, 151, 1);
        font-size: 18px;
    }
}

.produce-collapse>.el-collapse {
    &:first-of-type {
        margin-top: 10px;
    }
}